<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/index2.js"></script>
</head>
<body>
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <p class="brand"><%= user.name %></p>
        <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
                menu
            </button>
            <ul class="nav__wrapper">
                <select name=”month” id="select_menu">
                    <option value='' disabled selected style='display:none;'>通知</option>
                </select>
                <p class="nav__item"><a href="/register">REGISTER</a></p>
                <p class="nav__item"><a href="login">LOGIN</a></p>
                <p class="nav__item"><a href="#">LOGOUT</a></p>
            </ul>
        </nav>
    </div>
</header>
<br/>
<form method="post" action="/tweets/create">
    <textarea type="text"  name="content" placeholder="content" cols="30" rows="4"></textarea>
    <br/>
    <br/>
    <input type="submit" >
</form>
<hr>
<% if ( tweets.length === 0 ) { %>
    <p>No Tweets</p>
<% } else {%>
    <% tweets.forEach((tweet) => { %>
        <p class="usertext">user : <%= tweet.user.name %> </p>
        <p>content : <%= tweet.content %> </p>
        <p>
        <button type="submit" value="<%= tweet._id%>" id='myButton' class="<%= tweet._id %>" >いいね</button>
        </p>
        <hr/>
    <%})%>
<% } %>
</body>
</html>
