<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/index2.js"></script>
</head>
<body>
<h1><%= user.name %></h1>
<p>Welcome to <%= user.password %></p>

<% if ( tweets.length === 0 ) { %>
    <p>No Tweets</p>
<% } else {%>
    <% tweets.forEach((tweet) => { %>
        <p class="usertext">user : <%= tweet.user.name %> </p>
        <p>content : <%= tweet.content %> </p>
        <p>
<!--        <form action='/favorites/switch/<%= tweet._id %>' method="post">-->
<!--            <button type="submit" value="<%= tweet._id%>" id='myButton' class="button">いいね</button>-->
<!--        </form>-->
        <button type="submit" value="<%= tweet._id%>" id='myButton' class="<%= tweet._id %>" >いいね</button>
        </p>
    <%})%>
<% } %>
<hr>

<form method="post" action="/tweets/create">
    <textarea type="text"  name="content" placeholder="content" cols="30" rows="4">

    </textarea>
    <br/>
    <br/>
    <input type="submit" >
</form>

</body>
</html>
